[group_mgmt]
members = user, remote, syslog

[group_l7]
members = dns, dhcp, snmp, ntp, smtp, syslog


[label_boot]
rules = shutdown, reboot
shutdown_word = shutdown
shutdown_rule = in_ord
reboot_word = reboot
reboot_rule = in_ord

[label_user]
rules = su, sudo, login
su_word = su
su_rule = equal
sudo_word = sudo
sudo_rule = equal
login_word = login
login_rule = equal

[label_remote]
rules = sshd
sshd_word = sshd
sshd_rule = equal

[label_cron]
rules = cmd, cron, anacron
cmd_word = CMD
cmd_rule = equal
cron_word = CRON
cron_rule = equal
anacron_word = anacron
anacron_rule = equal

[label_dns]
rules = named, dns
named_word = named
named_rule = equal
dns_word = DNS
dns_rule = in_ord

[label_dhcp]
rules = dhcpd
dhcpd_word = dhcpd
dhcpd_rule = equal

[label_snmp]
rules = snmpd
snmpd_word = snmpd
snmpd_rule = equal

[label_ntp]
rules = ntpd, ntpdate
ntpd_word = ntpd
ntpd_rule = equal
ntpdate_word = ntpdate
ntpdate_rule = equal

[label_smtp]
rules = postfix, smtpd
postfix_word = postfix
postfix_rule = in_ord
smtpd_word = smtpd
smtpd_rule = equal

[label_syslog]
rules = syslogd, rsyslogd, newsyslog, rotate
syslogd_word = syslogd
syslogd_rule = equal
rsyslogd_word = rsyslogd
rsyslogd_rule = equal
newsyslog_word = newsyslog
newsyslog_rule = equal
rotate_word = last, message, repeated
rotate_rule = equal, equal, equal

